@font-face {
  font-family: ESTEDAD_REGULAR;
  src: url("../../assets/fonts/Estedad-Regular.woff2") format("woff2");
  font-display: swap;
}

@mixin ESTEDAD_REGULAR {
  font-family: ESTEDAD_REGULAR !important;
}

// ? Medium
@font-face {
  font-family: ESTEDAD_MEDIUM;
  src: url("../../assets/fonts/Estedad-Medium.woff2") format("woff2");
  font-display: swap;
}

@mixin ESTEDAD_MEDIUM {
  font-family: ESTEDAD_MEDIUM !important;
}

// ? Bold
@font-face {
  font-family: ESTEDAD_BOLD;
  src: url("../../assets/fonts/Estedad-Bold.woff2") format("woff2");
  font-display: swap;
}

@mixin ESTEDAD_BOLD {
  font-family: ESTEDAD_BOLD !important;
}

// // ? Semi Bold
// @font-face {
//   font-family: ESTEDAD_SEMI_BOLD;
//   src: url("../../assets/fonts/Estedad-SemiBold.woff2") format("woff2");
//   font-display: swap;
// }

// @mixin ESTEDAD_SEMI_BOLD {
//   font-family: ESTEDAD_SEMI_BOLD !important;
// }

$font-size : 8,
10,
12,
13,
14,
18,
20,
50;
$fonts : (regular : $font-size,
  medium : $font-size,
  bold : $font-size);

@mixin font($type, $key, $grid: '') {
  $line : 1.5;

  @if($key > 20) {
    $line : 1;
  }

  .font#{$grid}-#{$type}-#{$key} {
    @if($type ==medium) {
      @include ESTEDAD_MEDIUM;
    }

    @else if($type ==bold) {
      @include ESTEDAD_BOLD;
    }

    @else {
      @include ESTEDAD_REGULAR;
    }

    font-size: #{$key}px !important;
    line-height: #{$line} !important;
  }
}