
@use "../abstracts/typography" as *;

.hero-text {
  @include ESTEDAD_BOLD;
  font-size: 2.5rem;
  line-height: 1.5;
}

.title-1 {
  @include ESTEDAD_SEMI_BOLD;
  font-size: 2rem;
  line-height: 1.5;
}

.title-2 {
  @include ESTEDAD_SEMI_BOLD;
  font-size: 1.5rem;
  line-height: 1.5;
}

.title-3 {
  @include ESTEDAD_SEMI_BOLD;
  font-size: 1.25rem;
  line-height: 1.5;
}

.body-copy-strong {
  @include ESTEDAD_SEMI_BOLD;
  font-size: 1rem;
  line-height: 2;
}

.body-copy-medium {
  @include ESTEDAD_MEDIUM;
  font-size: 1rem;
  line-height: 2;
}

.body-copy-regular {
  @include ESTEDAD_REGULAR;
  font-size: 1rem;
  line-height: 2;
}

.small-copy-strong {
  @include ESTEDAD_SEMI_BOLD;
  font-size: 0.875rem;
  line-height: 2;
}

.small-copy-medium {
  @include ESTEDAD_MEDIUM;
  font-size: 0.875rem;
  line-height: 2;
}

.small-copy-regular {
  @include ESTEDAD_REGULAR;
  font-size: 0.875rem;
  line-height: 2;
}

.caption-strong {
  @include ESTEDAD_SEMI_BOLD;
  font-size: 0.75rem;
  line-height: 2;
}

.caption-medium {
  @include ESTEDAD_MEDIUM;
  font-size: 0.75rem;
  line-height: 2;
}

.caption-regular {
  @include ESTEDAD_REGULAR;
  font-size: 0.75rem;
  line-height: 2;
}

.small-caption-medium {
  @include ESTEDAD_MEDIUM;
  font-size: 0.67rem;
  line-height: 2;
}

.small-caption-regular {
  @include ESTEDAD_REGULAR;
  font-size: 0.67rem;
  line-height: 2;
}

.text-button {
  @include ESTEDAD_MEDIUM;
  font-size: 0.875rem;
  line-height: 2;
}
