<!-- <app-home></app-home>
<h1>Hello, BaseProject</h1>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<p style="width: 100px;">for test dom accessor</p>


<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/2.jfif" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/2.jfif" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/2.jfif" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/2.jfif" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/2.jfif" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/2.jfif" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/2.jfif" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/2.jfif" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/2.jfif" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" />
<img lazyLoad="../assets/images/1.jpg" width="100px" height="100px" style="display: block;" /> -->




<!-- <nav>
    <button type="button" (click)="toggle()">Toggle Open/Close</button>
  </nav> -->
  <!-- <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
  </div>

  @if(isOpen){
  <div @fadeSlideInOut class="open-close-container"></div>
  } -->
  
  <!-- <div @enterExitLeft></div> -->
  <!-- @if(isOpen){
  <div class="main"  @container>
    @for(item of items; track item.title){
        <div @enterExitRight (click)="remove(item.title)">{{item.title}}</div>
    }
  </div>
} -->

<!-- <input type="text"  #dd (input)="d(dd.value)" />
<p>{{text | seperateNumber}}</p>

<p class="link__default bg-primary__active">{{date | jalaliDate | persianNumbers}}</p>
<p>{{date | jalaliTime | persianNumbers}}</p>
   -->

  <!-- @if (isShown) {
    <div @myInsertRemoveTrigger class="insert-remove-container">
      <p>The box is inserted</p>
    </div>
  } -->
 <!-- <a routerLink="home">go to home</a>
  <router-outlet></router-outlet>

  <p>hello world</p> -->
  <span [appMatIcon]="'home'"></span>
  <span [appMatIcon]="'android'"></span>
  <span [appMatIcon]="'bug_report'"></span>
  <mat-icon>home</mat-icon>
<!-- <app-forbidden></app-forbidden> -->
<input type="text" appConvertNumbersToEnglish />
<canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'"> </canvas>
<button type="button" class="btn btn-info">Info</button>
<p class="h1">hello world</p>
<router-outlet></router-outlet>