<!-- seperate number pipe -->
<div class="d-flex mb-3">
  <input type="text" appNumberValue  #dd (input)="text = dd.value" placeholder="seperateNumber pipe" />
  <span>{{text | seperateNumber}}</span>
</div>

<div class="d-flex mb-3">
<!-- jalali date pipe -->
<span class="link__default bg-tint1">{{date | jalaliDate | persianNumbers}}</span>
<!-- jalali time pipe -->
<span>{{date | jalaliTime | persianNumbers}}</span>
</div>

<div class="d-flex mb-3">
  <!-- matIcon directive -->
  <span [appMatIcon]="'home'"></span>
  <span [appMatIcon]="'android'"></span>
  <span [appMatIcon]="'bug_report'"></span>
</div>
<div class="d-flex mb-3">
  <!-- ConvertNumbersToEnglish directive -->
<input type="text" appConvertNumbersToEnglish placeholder="ConvertNumbersToEnglish directive" />
</div>

<div class="d-flex mb-3">
<button type="button" (click)="snack()" #temp>open snackbar</button>
</div>
<div class="d-flex mb-3">
<form [formGroup]="form" (ngSubmit)="formSubmit()">
<input type="text" formControlName="name" placeholder="name" />
@if(form.controls['name'].invalid && form.controls['name'].hasError('alpha') && (form.controls['name'].dirty || form.controls['name'].touched)){
    <span>name error alpha</span>
    }
    <input type="text" formControlName="lastName" placeholder="lastName" />
    @if(form.controls['lastName'].invalid && form.controls['lastName'].hasError('alpha') && (form.controls['lastName'].dirty || form.controls['lastName'].touched)){
        <span>lastName error alpha</span>
        }
    
    <input type="text" formControlName="nationalCode" placeholder="nationalCode" />
    @if(form.controls['nationalCode'].invalid && form.controls['nationalCode'].hasError('nationalCode') && (form.controls['nationalCode'].dirty || form.controls['nationalCode'].touched)){
        <span>nationalCodeError</span>
        }

        <input type="text" formControlName="age" placeholder="age" />
        @if(form.controls['age'].invalid && form.controls['age'].hasError('number') && (form.controls['age'].dirty || form.controls['age'].touched)){
            <span>age error</span>
            }
<button type="submit">submit form</button>
</form>
</div>

<div class="d-flex mb-3">
<input type="text" appDismissEvent placeholder="dismiss event directive" />
</div>
<div class="d-flex flex-wrap mb-3">
    <button type="button" (click)="addToList()">add to list</button>
<!-- 
    <table mat-table [dataSource]="list" class="mat-elevation-z8" [@listShake]="list.length">

        <ng-container matColumnDef="title" >
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element" (click)="removeFromList(element.title)"> {{element.title}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>  -->

      <div class="d-flex align-items-center w-100 mt-3" >
        
        <div [@listFade]="list.length">
          
          @for(item of list; track item.title){
            <div style="width: 200px; height: 50px;border: 1px solid black;"  (click)="removeFromList(item.title)"
            class="list">{{item.title}}</div>
          }
        </div>
        
        <div [@listShake]="list.length" style="margin-left: 50px;">
          @for(item of list; track item.title){
            <div style="width: 200px; height: 50px;border: 1px solid black;"  (click)="removeFromList(item.title)"
            class="list">{{item.title}}</div>
          }
        </div>
        
      </div>
      </div>

  