@use "./styles/abstracts/typography" as *;
@use "./styles/abstracts/colors" as *;
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  font-size: 15px !important;
  @include ESTEDAD_REGULAR;
}

div,
li,
strong,
input,
small,
button,
label,
textarea,
select,
select option,
mat-card-subtitle,
mat-card-title,
mat-hint,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
pre,
a,
mat-card-title {
  text-align: right;
  word-wrap: anywhere;
  @include ESTEDAD_REGULAR;
}

* {

  &:focus,
  &:focus-visible {
    outline: none;
  }

  box-sizing: border-box;
  caret-color: setcolor(brown);
  text-decoration: none !important;
}

::placeholder {
  @include ESTEDAD_REGULAR;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  @include ESTEDAD_REGULAR;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  height: fit-content;
}

.pointer {
  cursor: pointer;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
}

.overflow-x-scroll {
  overflow-x: scroll !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-auto {
  overflow: auto !important;
}

.input-box {
  border: 1px solid transparent;
  height: 45px;
  min-height: 45px;
  max-height: 45px;
}